<section class="clients">
	<div class="clients__container">
		<h3 class="clients__title">Our Beloved Client</h3>
		<p class="clients__subtitle">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
			veniam.
		</p>
		<div class="clients__grid">
			<div class="clients__item">LOGO CLIENT 1</div>
			<div class="clients__item">LOGO CLIENT 2</div>
			<div class="clients__item">LOGO CLIENT 3</div>
			<div class="clients__item">LOGO CLIENT 4</div>
			<div class="clients__item">LOGO CLIENT 5</div>
			<div class="clients__item">LOGO CLIENT 6</div>
			<div class="clients__item">LOGO CLIENT 7</div>
			<div class="clients__item more">More Client</div>
		</div>
	</div>
</section>
