<footer class="footer dark-blue">
	<div class="footer-separate"></div>
	<div class="footer__container">
		<div class="footer__column">
			<a class="footer__logo" href="/">
				<img src="@img/logo-footer.svg" alt="Logo" />
				Afrianska</a
			>
			<p>
				A.
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
			</p>
			<p>T. <a href="tel:+6281273134321">+62-812-7313-4321</a></p>
			<p>
				E. <a href="mailto:hello.afrian@gmail.com">hello.afrian@gmail.com</a>
			</p>
		</div>
		<div class="footer__column">
			<h5>About Us</h5>
			<ul>
				<li><a href="#">About</a></li>
				<li><a href="#">What We Do</a></li>
				<li><a href="#">Projects</a></li>
				<li><a href="#">How It Works With Us</a></li>
			</ul>
		</div>
		<div class="footer__column">
			<h5>Follow Us</h5>
			<ul>
				<li><a href="#">Instagram</a></li>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">LinkedIn</a></li>
				<li><a href="#">Youtube</a></li>
			</ul>
		</div>
	</div>
</footer>
