<section class="services">
	<div class="services__container">
		<h3 class="services__title">
			What we do to help our client grow in digital era,
		</h3>
		<div class="services__card business">
			<div class="services__cardicon">
				<img src="@img/card-business.svg" alt="Icon" />
			</div>
			<h4 class="services__cardtitle">
				Make Your business To Be Better Famous In Internet
			</h4>
			<p class="services__cardtext">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.
			</p>
			<a class="services__cardcta" href="#">
				<span>Learn more</span>
				<img src="@img/ic_arrow_forward.svg" alt="" />
			</a>
		</div>
		<div class="services__card technology">
			<div class="services__cardicon">
				<img src="@img/card-technology.svg" alt="Icon" />
			</div>
			<h4 class="services__cardtitle">
				Bring Technology To Your Comfrotable Home
			</h4>
			<p class="services__cardtext">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.
			</p>
			<a class="services__cardcta" href="#">
				<span>Learn more</span>
				<img src="@img/ic_arrow_forward.svg" alt="" />
			</a>
		</div>
		<div class="services__card digital">
			<div class="services__cardicon">
				<img src="@img/card-digital.svg" alt="Icon" />
			</div>
			<h4 class="services__cardtitle">
				Build Your Digital Product That Suitable For Your Need
			</h4>
			<p class="services__cardtext">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.
			</p>
			<a class="services__cardcta" href="#">
				<span>Learn more</span>
				<img src="@img/ic_arrow_forward.svg" alt="" />
			</a>
		</div>
	</div>
</section>
