.button {
	border-radius: rem(10);
	font-weight: 400;
	font-size: rem(16);
	line-height: 100%;
	color: $secondColor;
	padding: 15px;
	transition: box-shadow 0.3s ease;
	&:hover {
		box-shadow: 0px 0px 38px -9px rgba($navyBlue, 0.75);
	}
}

h3 {
	font-weight: 600;
	@include adaptiveValue('font-size', 36, 24);
	line-height: 128%;
	letter-spacing: 0.05em;
}
